body{
    background-color: antiquewhite;
}
.gtytul{
    background-color: darkolivegreen;
}
.pierwszy-paragraf{
    background-color: pink;
}
.ptytul{
    background-color: magenta;
}
.drugi-paragraf{
    background-color: palegreen;
}
.lista{
    background-color: darkslategray;
}
.li1{
    color: aqua;
}
.li2{
    color: chocolate;
}
.li3{
    color: crimson;
}
.li4{
    color: khaki;
}
.li5{
    color: slateblue;
}